<div class="container-fluid bg-danger text-center py-3 mt-3">
    <div class="row">
        <div class="col-md-6">
            <h4><a href="#" class="text-white">News/Tip-Off</a></h4>
        </div>
        <div class="col-md-6">
            <h4><a href="#" class="text-white">Advertise With Us</a></h4>
        </div>
    </div>
</div>
<div style="background-color: brown;" class="container-fluid text-center">
    <p>&copy; Copyright ZyonelBlog 2020 </p>
</div>