<div class="container">
        <h1 class="text-center">Welcome Admin</h1>
        <div class="container mt-5">
                <button class="btn-lg btn-danger ml-5 border-0 d-block"><a class="text-white" href="/articles/add">Add
                                Articles</a></button>
                <button class="btn-lg btn-secondary ml-5 border-0 d-block mt-3"><a class="text-white"
                                href="edit/{{articles.slug}}">Delete
                                Article</a></button>
                <button class="btn-lg btn-warning ml-5 border-0 mt-3"><a class="text-white"
                                href="/admin/logout">Logout</a></button>
        </div>
</div>